body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    height: 100vh;
}

.left-panel, .right-panel {
    flex: 1;
    padding: 20px;
}

.upload-section {
    background-color: #fff;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.upload-button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.take-photo-button {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    cursor: pointer;
}


.preview-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.chatbot {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.chat-display {
    flex-grow: 1;
    overflow-y: auto;
    padding: 10px;
    background-color: #e9ecef;
    border-bottom: 1px solid #ccc;
}

.chat-input {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    flex-grow: 0;
}

.send-button {
    background-color: #28a745;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}
.result-container {
    font-family: Arial, sans-serif;
    margin-top: 20px;
    text-align: center; /* Center content */
}

/* Style for image previews */
/* Style for smaller image previews */
.image-preview {
    max-width: 200px; /* Set a maximum width */
    height: auto; /* Keep aspect ratio */
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}


/* CSS to style individual result items */
.result-item {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 5px;
}


/* Add responsiveness */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
}
